In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/SEM 8/_SEM_8_/SMA/top_200_instagrammers.csv')
data.head(2)

,Username,Channel Name,Country,Url,Main topic,Main video category,Likes,Likes Avg.,Posts,Followers,Boost Index,Comments Avg.,Views Avg.,Avg. 1 Day,Avg. 3 Day,Avg. 7 Day,Avg. 14 Day,Avg. 30 Day,Engagement Rate,Engagement Rate (60 Days)
0,cristiano,cristiano,ES,https://www.instagram.com/cristiano,Sports,Sports,2.287645e+10,8.671953e+06,3328,465027234,92,51758.330927,1.700949e+07,NaN,NaN,3321113.0,5327340.25,6.948659e+06,0.014916,0.015903
1,kyliejenner,kyliejenner,US,https://www.instagram.com/kyliejenner,NaN,NaN,4.304855e+10,8.296736e+06,6921,356687629,91,47534.120961,2.287547e+07,NaN,NaN,1223002.0,2196528.50,4.692459e+06,0.017617,0.016189

In [ ]:
#Amount of Missing Values
data.isnull().sum()

Username                       0
Channel Name                   0
Country                       62
Url                            0
Main topic                    70
Main video category           67
Likes                          0
Likes Avg.                     0
Posts                          0
Followers                      0
Boost Index                    0
Comments Avg.                  0
Views Avg.                     3
Avg. 1 Day                   139
Avg. 3 Day                    75
Avg. 7 Day                    38
Avg. 14 Day                   14
Avg. 30 Day                    5
Engagement Rate                0
Engagement Rate (60 Days)      0
dtype: int64

In [ ]:
remove = ['Url','Channel Name','Likes','Likes Avg.', 'Comments Avg.','Engagement Rate','Avg. 1 Day','Avg. 3 Day','Avg. 7 Day','Avg. 14 Day','Avg. 30 Day']
data.drop(remove, inplace=True, axis=1)

In [ ]:
data.isnull().sum()

Username                      0
Country                      62
Main topic                   70
Main video category          67
Posts                         0
Followers                     0
Boost Index                   0
Views Avg.                    3
Engagement Rate (60 Days)     0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Username                   200 non-null    object
 1   Country                    138 non-null    object
 2   Main topic                 130 non-null    object
 3   Main video category        133 non-null    object
 4   Posts                      200 non-null    int64
 5   Followers                  200 non-null    int64
 6   Boost Index                200 non-null    int64
 7   Views Avg.                 197 non-null    float64
 8   Engagement Rate (60 Days)  200 non-null    float64
dtypes: float64(2), int64(3), object(4)
memory usage: 14.2+ KB

In [ ]:
data.drop_duplicates()

,Username,Country,Main topic,Main video category,Posts,Followers,Boost Index,Views Avg.,Engagement Rate (60 Days)
0,cristiano,ES,Sports,Sports,3328,465027234,92,1.700949e+07,0.015903
1,kyliejenner,US,NaN,NaN,6921,356687629,91,2.287547e+07,0.016189
2,leomessi,NaN,NaN,NaN,875,347032978,90,1.176160e+07,0.019045
3,selenagomez,US,NaN,NaN,1835,334551681,93,1.072397e+07,0.007720
4,therock,US,NaN,NaN,6660,327064138,91,5.413831e+06,0.003723
...,...,...,...,...,...,...,...,...,...
195,luansantana,BR,NaN,NaN,714,33024460,79,5.287625e+05,0.005092
196,danbilzerian,CA,Pets & Animals,Pets & Animals,1372,32938902,84,2.103653e+07,0.033629
197,nickjonas,US,NaN,NaN,2315,32906383,78,1.089024e+06,0.010766
198,gururandhawa,US,Education,Education,2140,32845959,83,2.267251e+06,0.008365
199,iambeckyg,US,NaN,NaN,2270,32812027,71,1.020376e+06,0.016422

In [ ]:
#Amount of Missing Values
data.isnull().sum()

Username                      0
Country                      62
Main topic                   70
Main video category          67
Posts                         0
Followers                     0
Boost Index                   0
Views Avg.                    3
Engagement Rate (60 Days)     0
dtype: int64

In [ ]:
data['Main topic'] = data['Main topic'].fillna('Not Specified')
data.isnull().sum()

Username                      0
Country                      62
Main topic                    0
Main video category          67
Posts                         0
Followers                     0
Boost Index                   0
Views Avg.                    3
Engagement Rate (60 Days)     0
dtype: int64

In [ ]:
data.head()

,Username,Country,Main topic,Main video category,Posts,Followers,Boost Index,Views Avg.,Engagement Rate (60 Days)
0,cristiano,ES,Sports,Sports,3328,465027234,92,1.700949e+07,0.015903
1,kyliejenner,US,Not Specified,NaN,6921,356687629,91,2.287547e+07,0.016189
2,leomessi,NaN,Not Specified,NaN,875,347032978,90,1.176160e+07,0.019045
3,selenagomez,US,Not Specified,NaN,1835,334551681,93,1.072397e+07,0.007720
4,therock,US,Not Specified,NaN,6660,327064138,91,5.413831e+06,0.003723

In [ ]:
data = data.truncate(before=1,axis=0,copy=True)
data['Main video category']

1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
            ...
195               NaN
196    Pets & Animals
197               NaN
198         Education
199               NaN
Name: Main video category, Length: 199, dtype: object

In [ ]:
data.size

1791

In [ ]:
data['Username']

1        kyliejenner
2           leomessi
3        selenagomez
4            therock
5      kimkardashian
           ...
195      luansantana
196     danbilzerian
197        nickjonas
198     gururandhawa
199        iambeckyg
Name: Username, Length: 199, dtype: object

In [ ]:
data['Username'] = data['Username'].str.upper()
data['Username']

1        KYLIEJENNER
2           LEOMESSI
3        SELENAGOMEZ
4            THEROCK
5      KIMKARDASHIAN
           ...
195      LUANSANTANA
196     DANBILZERIAN
197        NICKJONAS
198     GURURANDHAWA
199        IAMBECKYG
Name: Username, Length: 199, dtype: object

In [ ]:
data

,Username,Country,Main topic,Main video category,Posts,Followers,Boost Index,Views Avg.,Engagement Rate (60 Days)
1,KYLIEJENNER,US,Not Specified,NaN,6921,356687629,91,2.287547e+07,0.016189
2,LEOMESSI,NaN,Not Specified,NaN,875,347032978,90,1.176160e+07,0.019045
3,SELENAGOMEZ,US,Not Specified,NaN,1835,334551681,93,1.072397e+07,0.007720
4,THEROCK,US,Not Specified,NaN,6660,327064138,91,5.413831e+06,0.003723
5,KIMKARDASHIAN,US,Not Specified,NaN,5603,323090977,91,9.642516e+06,0.009689
...,...,...,...,...,...,...,...,...,...
195,LUANSANTANA,BR,Not Specified,NaN,714,33024460,79,5.287625e+05,0.005092
196,DANBILZERIAN,CA,Pets & Animals,Pets & Animals,1372,32938902,84,2.103653e+07,0.033629
197,NICKJONAS,US,Not Specified,NaN,2315,32906383,78,1.089024e+06,0.010766
198,GURURANDHAWA,US,Education,Education,2140,32845959,83,2.267251e+06,0.008365
199,IAMBECKYG,US,Not Specified,NaN,2270,32812027,71,1.020376e+06,0.016422

In [ ]:
data.shape

(199, 9)

In [ ]:
new_name={'Country':'Country Code','Main topic':'Topic','Main Video Category':'Category'}
data.rename(columns=new_name, inplace=True)
print('\n\nAfter Renaming Columns')
print(data.isnull().sum())

After Renaming Columns
Username                      0
Country Code                 62
Topic                         0
Main video category          67
Posts                         0
Followers                     0
Boost Index                   0
Views Avg.                    3
Engagement Rate (60 Days)     0
dtype: int64

In [ ]:
data.dropna(inplace =True, axis =0)
print('\n\nAfter Dropping Missing Values')
print(data.isnull().sum())

After Dropping Missing Values
Username                     0
Country Code                 0
Topic                        0
Main video category          0
Posts                        0
Followers                    0
Boost Index                  0
Views Avg.                   0
Engagement Rate (60 Days)    0
dtype: int64

In [ ]:
data.shape

(84, 9)

In [ ]:
data.to_csv('cleaned_instagram_list.csv', index=False)
print("\n\nCleaned Data Stored Successfully")

Cleaned Data Stored Successfully